div {
    /* background: rgb(146, 157, 47); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: .5rem;
    margin-top: .6rem;
}

button {
    /* RESET APPEAREANCE */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

button {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid steelblue;
    margin: .2rem;
    padding: .3rem .6rem;
    outline: none;
}

button {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}