/* Default Settings */

:root {
    /* COLOR VARIABLES */
    --primary-theme-color-v1: rgb(0, 65, 145);
    --primary-theme-color-v2: rgb(0, 0, 255);
    --primary-theme-color-v3: rgb(20, 110, 217);
    /* MAIN COLORS */
    --main-bg-color-v1: rgb(20, 110, 217);
    --main-bg-color-v2: rgb(10, 090, 217);
    --main-bg-color-v3: rgb(05, 070, 217);
    --main-bg-color-v4: rgb(02, 050, 217);
    --main-bg-color-v5: #191970;
    /* SECUNDARY COLORS */
    --form-bg-color: rgba(255, 255, 255, 0.08);
    --header-footer-bg-color: rgb(13, 82, 166);
    /* TEXT COLOR */
    --form-h2-color: rgba(243, 243, 243, 0.753);
    --text-color: rgb(243, 243, 243);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color-v5);
    color: var(--text-color);
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--header-footer-bg-color);
}

header h1 {
    letter-spacing: 1px;
}

header h1,
nav {
    padding-top: .6em;
    padding-bottom: .6em;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.5em;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

section,
#exit {
    margin: 0;
}

#exit {
    color: rgb(238, 52, 52);
    font-weight: bold;
}

#exit:hover {
    background-color: rgba(255, 0, 0, 0.2);
    /* border: 1px solid rgb(255, 49, 49); */
}

.route {
    padding: 0 .5rem 0 .5rem;
    margin-right: 1rem;
}

.route:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    height: 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--header-footer-bg-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem 0;
}


/* Unique style of the page */

main table {
    width: 100%;
    min-width: 750px;
    margin: 32px 0 32px;
    /* border-spacing: 0 .5rem; */
    border-spacing: 0;
}

th {
    padding: 1rem;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid steelblue;
    /* border: 1px solid rgba(70, 131, 180, 0.3); */
}

td {
    padding: .5rem 0rem .5rem;
    color: var(--text-color);
    border-bottom: 1px solid rgba(70, 131, 180, 0.3);
    /* border-top: 1px solid rgba(70, 131, 180, 0.3);
    border: 1px solid rgba(70, 131, 180, 0.3); */
}

td:hover {
    cursor: pointer;
}

td:first-child {
    text-align: center;
    padding-right: 10px;
}

td:last-child {
    border-left: 2px solid rgba(70, 131, 180, 0.3);
}