/* Article default settings*/

article {
    background-color: var(--form-bg-color);
    width: 100%;
    min-height: 50vh;
    margin-top: .6rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

article aside {
    background: var(--form-bg-color);
    width: 600px;
    height: 465px;
    padding: 1rem;
}