/* Article default settings*/

article {
    background-color: var(--form-bg-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin: .6rem 0;
    padding: 1rem;
    width: 100%;
    /* min-height: 50vh; */
}

article>h1 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2em;
}