/* Article default settings*/

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--form-bg-color);
    padding: 1rem;
    margin: .6rem 0;
}

article>h1 {
    font-size: 2em;
    text-align: center;
}