/* Input settings default */

input {
    /* RESET APPEAREANCE */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* BOX */
    padding: .2rem .3rem;
    border: 1px solid rgb(125, 125, 125);
    background-color: transparent;
    outline: none;
    /* TEXT */
    color: var(--text-color);
    font-size: 1em;
}

input.inputData {
    border: 1px solid rgb(125, 125, 125);
    background-color: transparent;
    outline: none;
}

.inputData:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.inputData:focus {
    background-color: rgba(255, 255, 255, 0.4);
}