/* Input settings default */

input {
    /* RESET APPEAREANCE */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* BOX */
    width: 207px;
    height: 26px;
    background-color: transparent;
    padding: 1rem;
    border: 1px solid rgb(125, 125, 125);
    border-radius: 5px;
    outline: none;
    /* TEXT */
    color: var(--text-color);
    font-size: 1em;
}

input:hover {
    background-color: rgba(165, 165, 165, 0.05);
}

input:focus {
    background-color: rgba(255, 255, 255, 0.1)
}


/*  */

input[type="date"] {
    /* text-align: center; */
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-color: transparent;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23000" fill-opacity=".54" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
    border-radius: 3px;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background-color: rgba(165, 165, 165, 0.05);
}

::-webkit-datetime-edit-text {
    /* color: transparent; */
    padding: 0 .3em;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}


/*  */

.fieldEmpty {
    /* If the field is empty */
    transition: 250ms;
    background-color: rgba(255, 0, 0, 0.08);
    border: 1px solid rgb(255, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(255, 59, 59, 0.2);
    box-shadow: 0px 0px 0px 4px rgba(255, 59, 59, 0.2);
}

.fieldFilled {
    /* If the field is filled */
    transition: 250ms;
    background-color: rgba(21, 255, 0, 0.08);
    border: 1px solid rgb(0, 255, 0);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 255, 0, 0.2);
    box-shadow: 0px 0px 0px 4px rgba(0, 255, 0, 0.2);
}


/*  */

.signInPatient {
    /* RESET APPEAREANCE */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* BOX */
    width: 100%;
    padding: 16px 0;
    border: none;
    /* border: 1px solid rgb(125, 125, 125); */
    background-color: var(--primary-theme-color-v3);
    outline: none;
    /* TEXT */
    color: var(--text-color);
    letter-spacing: 0.01em;
    font-size: 1em;
    font-weight: 500;
}

.signInPatient:hover {
    background-color: rgb(19, 107, 214);
    cursor: pointer;
}

.signInPatient:focus {
    background-color: rgb(18, 101, 201);
}