/* Footer default settingss */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: var(--header-footer-bg-color);
    flex-shrink: 0;
    padding: .6rem;
}


/* positioned at the bottom of the page */

footer {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 100%;
}