/* Header default settings */

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--header-footer-bg-color);
}

header h1 {
    letter-spacing: 1px;
}

header h1,
nav {
    padding-top: .6em;
    padding-bottom: .6em;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.5em;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

section,
#exit {
    margin: 0;
}

#exit {
    color: rgb(238, 52, 52);
    font-weight: bold;
}

#exit:hover {
    background-color: rgba(255, 0, 0, 0.2);
    /* border: 1px solid rgb(255, 49, 49); */
}

.route {
    padding: 0 .5rem 0 .5rem;
    margin-right: 1rem;
}

.route:hover {
    background-color: rgba(255, 255, 255, 0.2);
}