body {
    overflow-x: hidden;
}


/* Works in Chrome, Edge and Safari */

body::-webkit-scrollbar {
    /* ScrollBar */
    width: 8px;
}

body::-webkit-scrollbar-track {
    /* Scrollbar rail */
    background-color: var(--header-footer-bg-color);
}

body::-webkit-scrollbar-thumb {
    /* Scrollbar container */
    /* background-color: black; */
    background-color: var(--main-bg-color-v5);
    border-radius: 20px;
    border: 2px solid var(--header-footer-bg-color);
}


/* Works in Firefox */

body {
    scrollbar-width: thin;
    scrollbar-color: var(--header-footer-bg-color) var(--main-bg-color-v5);
}