/* Unique style of the page */

main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

main table {
    width: 100%;
    min-width: 750px;
    margin: 32px 0 32px;
    border-spacing: 0;
}

th {
    padding: 1rem;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid steelblue;
}

td {
    padding: .3rem 0rem .3rem;
    color: var(--text-color);
    border-bottom: 1px solid rgba(70, 131, 180, 0.3)
}

td:hover {
    cursor: pointer;
}

td:first-child {
    text-align: center;
    padding-right: 10px;
}

td:last-child {
    border-left: 2px solid rgba(70, 131, 180, 0.3);
}